:root {
  color-scheme: light;
}

body {
  background-color: #fff;
  color: #000;
}

.section {
  background-color: #fff;
}

.is-badger-red {
  background-color: #c5050c !important;
  border-color: #c5050c !important;
  color: #fff !important;
}

.is-badger-red:hover,
.is-badger-red:focus {
  background-color: #a00409 !important;
  border-color: #a00409 !important;
  color: #fff !important;
}

.navbar.is-badger-red .navbar-item,
.navbar.is-badger-red .navbar-link {
  color: #fff;
}

.navbar.is-badger-red .navbar-burger span {
  background-color: #fff;
}

.navbar.is-badger-red .navbar-item:hover,
.navbar.is-badger-red .navbar-link:hover {
  background-color: transparent;
  color: #fff;
}

.card,
.box {
  background-color: #f2f2f2;
  color: #000;
}

.card .title,
.card .subtitle,
.box .title,
.box .subtitle {
  color: #000;
}

.form-white .input,
.form-white .textarea,
.form-white .select select {
  background-color: #fff !important;
  color: #000 !important;
}

.logo {
  height: 48px;
  width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

.site-footer {
  background-color: #e0e0e0;
  color: #000;
  text-align: center;
  padding: 1.5rem 1rem;
}

.site-footer a {
  color: inherit;
  text-decoration: underline;
}

.table,
.table th,
.table td {
  background-color: #fff;
  color: #000;
}

.table.is-leaderboard th + th,
.table.is-leaderboard td + td {
  border-left: 2px solid #000;
}
