.is-hidden {
  display: none !important;
}

.is-badger-red {
  background-color: #c5050c;
  border-color: #c5050c;
  color: #fff;
}

.course-highlight {
  box-shadow: 0 0 0 3px #c5050c;
  transition: box-shadow 0.2s ease;
}